@layer defaults {
  * { box-sizing: border-box; }

  html {
    --font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    --font-serif: ui-serif,serif;
    --font-mono: Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace;
    --accent: deeppink;

    accent-color: var(--accent, cyan);
    color-scheme: dark light;
    font-family: var(--font-mono);
    font-size: min(1em + 1.5vw, 1.5em);
    line-height: 1.4;
  }

  @media (prefers-color-scheme: light) {
    html {
      --accent: mediumvioletred;
      color-scheme: light dark;
    }
  }

  html {
    block-size: 100%;
  }

  body {
    display: grid;
    grid-template: 'header' auto 'main' 1fr 'footer' auto / 100%;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 70ch;
    min-block-size: 100%;
    padding: 1em;
  }

  #intro {
    border-block: medium dotted;
    font-size: 1.5em;
    margin-block: 1em;
    padding-block: 1em;
  }

  a:any-link {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 0.15em;
    transition: all 150ms ease-in-out;
  }

  a:focus,
  a:hover,
  a:active {
    text-decoration-thickness: 0.2em;
  }

  figure {
    margin: 0;
  }
}
